		circle,
		path {
			cursor: pointer;
		}

		circle {
			fill: none;
			pointer-events: all;
		}

        body {
        	font: 10px sans-serif;
        }
        
        .bar rect {
        	fill: steelblue;
        	shape-rendering: crispEdges;
        }
        
        .bar text {
        	fill: #fff;
        }
        
        .axis path, .axis line {
        	fill: none;
        	stroke: #000;
        	shape-rendering: crispEdges;
        }
        
        .bar {
          fill: steelblue;
        }
        
        .x.axis path {
          display: none;
        }

        .legend {
		  font-size: 12px;
		}

		rect {
		  stroke-width: 2;
		}

		.ttip {
			background: #eee;
			box-shadow: 0 0 5px #999999;
			color: #333;
			display: none;
			font-size: 12px;
			top: 50%;
			left: 50%;
			margin-top: -30px;
			margin-left: -40px;
			padding: 10px;
			position: absolute;
			text-align: center;
			width: 80px;
			z-index: 9999;
		}