<!--Template für Diagramm 1-->
<script src="Scripts/Industrie11/WriteFile.js"></script>
<script src="Module/ChartModul/Model/Chart1.js"></script>
<section class="col-md-{{size}}">

        <h1>Kostenübersicht</h1>
        <script>
            function myTimer() {
                d = document.getElementById("jData").value;
                Chart1(d);
            }
            setTimeout(myTimer, 600);
        </script>
        <form>
            <input type="text" id="jData" value="{{data}}" hidden="true">
        </form>

</section>