<!--Template für Diagramm 2-->
<script src="Module/ChartModul/Model/Chart2.js"></script>
<section class="col-md-{{size}}">

    <h1 id="Ueberschrift">Chart2</h1>
    <form>
        <input type="text" id="jData" value="{{data}}" hidden="true">
    </form>

    <script>

        var parm = getParameterByName('Key');
        var res = parm.split(".");
        var u = "<a href='index.html'>Kostenübersicht</a> ";
        u += "-->" + res[0];
        document.getElementById('Ueberschrift').innerHTML = u;
        
        function myTimer() {
            d = document.getElementById("jData").value
            Chart2(d);
        }
        setTimeout(myTimer, 300);
    </script>



</section>
