<!--Template für Diagramm 3-->
<script src="Module/ChartModul/Model/Chart3.js"></script>

<section class="col-md-{{size}}">

    <h1 id="Ueberschrift">Chart3</h1>
    <form>
        <input type="text" id="jData" value="{{data}}" hidden="true">
    </form>

    <script>

        var parm = getParameterByName('Key');
        var res = parm.split(".");
        var u = "<a href='index.html'>Kostenübersicht</a>";
        u += "-->";
        u += "<a href='index.html?Key=" + res[0] + "'>" + res[0] + "</a>";
        u += "-->" + res[1];

        document.getElementById('Ueberschrift').innerHTML = u;

        function myTimer() {
            d = document.getElementById("jData").value
            Chart3(d);
        }
        setTimeout(myTimer, 300);
    </script>



</section>